<% all_dance_moves = Dance.read %>

<div class="row">
  <div class="col-md-8">
    <% Dance.read.order("move desc").each do |dance| %>

          <div class="col-md-8">
          <h2> <%= link_to dance["move"], "/dance/#{dance["id"]}" %> </h2>
          <h3> <%= dance["genre"] %></h3>
          <img src="<%= dance["picture_url"] %>" alt="Responsive image" class="img-thumbnail">
          <%#= link_to image_tag(dance["picture_url"]), "/dance/#{dance["id"]}" %>

          </div>


    <% end %>

<div class="col-md-8">
<p> <%= link_to "Add a New Dance Move", "/dance/new" %> </p>

<ul>

  <% all_dance_moves.each do |dance| %>

    <li>
      <%= link_to dance["move"], "/dance/#{dance["id"]}" %>
      (<%= link_to "Delete", "/dance/#{dance["id"]}", "method" => "delete" %>)
      (<%= link_to "Edit", "/dance/#{dance["id"]}/edit" %>)
    </li>

  <% end %>
</div>
